<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="icon" href="pharmacy 1.png">
    <title>Login/Med</title>
</head>
<body>
        <div class="content">
            <section>
                <div class="caixaLogin">
                    <!-- <div class="part1"><img class="imagem" src="/Imagens/pexels-arthur-ogleznev-1296265.jpg"></div>        -->
                    <div class="part2">
                        <div class="login">
                            <img class="iconeMed" src="pharmacy 1.png">
                            <h1 style="font-family: sans-serif; font-size: 50px; margin-top: 30px;">Login</h1>
                            <div class="arealogin">
                                <input id="name" type="text" placeholder="Username">
                                <input id="name" type="password" placeholder="Password">
                            </div>
                            <div class="extra">
                                <div style="font-size: 20px">
                                    <input style="height: 18px; width: 18px" id="remember" type="checkbox">
                                    <label style="color: rgb(146, 146, 146);" for="remember">Remember me</label>
                                </div>
                                <div>
                                    <p style="color: rgb(0, 174, 255);">Forget the password?</p>
                                </div>
                            </div>
                            <button>Sing in</button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
</body>
</html>